[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "FindIt"]
	path = FindIt
	url = https://github.com/cran/FindIt
	shallow = true
	registered = true
